# Deployment via foundry accounts
ACCOUNT_NAME=

# RPC endpoints (replace with your own)
RPC_MAINNET=https://eth.llamarpc.com
RPC_OPTIMISM=https://optimism.llamarpc.com
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_POLYGON=https://polygon.llamarpc.com
RPC_ARBITRUM=https://arbitrum.llamarpc.com
RPC_BASE=https://base.llamarpc.com
RPC_GNOSIS=https://rpc.ankr.com/gnosis
RPC_BNB=https://binance.llamarpc.com
RPC_SCROLL=https://rpc.scroll.io

# Etherscan v2 API key
ETHERSCAN_API_KEY=
